.points {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.point {
  cursor: pointer;
  color: #7c8798;
  font-size: 30px;
  font-family: sans-serif;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background-color: #262e38;
  display: flex;
  align-items: center;
  justify-content: center;
}
.point:hover {
  color: #fff;
  background: #7c8798;
}
.active {
  background-color: #FC7614;
}