.submit-btn {
  font-size: 15px;
  font-weight: 700;
  font-family: sans-serif;
  color: #fff;
  padding: 11px 137px;
 background: #FC7614;
border-radius: 22px;
border: none;


}

.submit-btn:hover{
  color: #FC7614;
  background-color: #fff;
}