.card {
 
  height: 416px;
  background: linear-gradient(#232a34, #181e27);
  border-radius: 30px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.star-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #262E38;
  display: flex;
  align-items: center;
  justify-content: center;
}

