.result {
  width: 412px;
  height: 416px;
  background: linear-gradient(#232a34, #181e27);
  border-radius: 30px;
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
